<form action="/api/producto" method="post"></form>
<h1>Productos:</h1>
<ul class="dirigir">
  {{#each products}}
    <div class="caja">
      <img alt={{this.title}} src={{this.imagen}} width="200"/>
      <h2>{{payload.title}}</h2>
      <h4>{{payload.category}}</h4>
      <p>{{this.description}}</p>
      <h3>{{payload.stock}}</h3>
      <h3>${{this.price}}</h3>
      <button class="btn">Agregar al carrito</button>
    </div>
  {{/each}}
</ul>

{{!-- <div>
    {{#if hasPrevPage}}
    <a href="/api/productos?page={{prevPage}}"><button>Anterior</button></a>
  {{/if}}
  {{#if hasNextPage}}
    <a href="/api/productos?page={{nextPage}}"><button
        type="button"
        class="btn btn-primary"
      >Siguiente</button></a>
  {{/if}}
</div> --}}

